The goal of the project was to predict the survival of passengers supported a collection of information. we tend to used Kaggle competition "Titanic: Machine Learning from Disaster" (see https://www.kaggle.com/c/titanic/data) to retrieve necessary knowledge and measure accuracy of our predictions. The historical knowledge has been split into 2 teams, a 'training set' and a 'test set'. For the coaching set, we tend to square measure given the result (whether or not a traveller survived). we tend to used this set to make our model to get predictions for the check set.

## download the necessary libraries

In [3]:
import numpy as np 
import pandas as pd 

import seaborn as sns
%matplotlib inline
from matplotlib import pyplot as plt
from matplotlib import style

# Algorithms
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB

## Getting the Data

In [4]:
train=pd.read_csv("train.csv")
test=pd.read_csv("test.csv")

In [5]:
print(train.shape)
print(test.shape)

(891, 12)
(418, 11)

In [6]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

Training and Test data come in CSV file and contain the following fields:    
⦁	Passenger ID 
⦁	Passenger Class  
⦁	Name  
⦁	Sex  
⦁	Age  
⦁	Number of passenger's siblings and spouses on board  
⦁	Number of passenger's parents and children on board  
⦁	Ticket  
⦁	Fare  
⦁	Cabin 
⦁	City where passenger embarked

# Correlation

In [8]:
train.corr()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
PassengerId,1.000000,-0.005007,-0.035144,0.036847,-0.057527,-0.001652,0.012658
Survived,-0.005007,1.000000,-0.338481,-0.077221,-0.035322,0.081629,0.257307
Pclass,-0.035144,-0.338481,1.000000,-0.369226,0.083081,0.018443,-0.549500
Age,0.036847,-0.077221,-0.369226,1.000000,-0.308247,-0.189119,0.096067
SibSp,-0.057527,-0.035322,0.083081,-0.308247,1.000000,0.414838,0.159651
Parch,-0.001652,0.081629,0.018443,-0.189119,0.414838,1.000000,0.216225
Fare,0.012658,0.257307,-0.549500,0.096067,0.159651,0.216225,1.000000

In [9]:
train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

## Missing data

In [10]:
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

## Remove missing values

In [11]:
train=train.drop(['Cabin'],axis=1)
test=test.drop(['Cabin'],axis=1)

In [12]:
data=[train,test]
for dataset in data:
    dataset["Age"]=dataset["Age"].fillna(dataset["Age"].mean(), inplace = False) 
    dataset["Embarked"]=dataset["Embarked"].fillna("S", inplace = False)
    dataset["Fare"]=dataset["Fare"].fillna(dataset["Fare"].mean(), inplace = False)

In [13]:
train.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [14]:
data = [train, test]
for dataset in data:
    dataset['relatives'] = dataset['SibSp'] + dataset['Parch']
    dataset.loc[dataset['relatives'] > 0, 'not_alone'] = 0
    dataset.loc[dataset['relatives'] == 0, 'not_alone'] = 1
    dataset['not_alone'] = dataset['not_alone'].astype(int)
train['not_alone'].value_counts()

1    537
0    354
Name: not_alone, dtype: int64

## Converting Features:

#### Age&Frea

In [15]:
data = [train, test]

for dataset in data:
    dataset["Age"]=dataset["Age"].astype("int")
    dataset["Fare"]=dataset["Fare"].astype("int")

#### Name

In [16]:
data = [train, test]
titles = {"Mr": 1, "Miss": 2, "Mrs": 3, "Master": 4, "Rare": 5}

for dataset in data:
    # extract titles
    dataset['Title'] = dataset.Name.str.extract(' ([A-Za-z]+)\.', expand=False)
    # replace titles with a more common title or as Rare
    dataset['Title'] = dataset['Title'].replace(['Lady', 'Countess','Capt', 'Col','Don', 'Dr','Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'], 'Rare')
    dataset['Title'] = dataset['Title'].replace('Mlle', 'Miss')
    dataset['Title'] = dataset['Title'].replace('Ms', 'Miss')
    dataset['Title'] = dataset['Title'].replace('Mme', 'Mrs')
    # convert titles into numbers
    dataset['Title'] = dataset['Title'].map(titles)
    # filling NaN with 0, to get safe
    dataset['Title'] = dataset['Title'].fillna(0)
train= train.drop(['Name'], axis=1)
test= test.drop(['Name'], axis=1)

#### Sex

In [17]:
from sklearn.preprocessing import LabelEncoder

label=LabelEncoder()
train["Sex"]=label.fit_transform(train["Sex"])
test["Sex"]=label.fit_transform(test["Sex"])

#### Ticket

In [18]:
data=[train,test]
for dataset in data:
    dataset= dataset.drop(['Ticket'], axis=1)

In [19]:
train= train.drop(['Ticket'], axis=1)
test= test.drop(['Ticket'], axis=1)

#### Embarked

In [20]:
from sklearn.preprocessing import LabelEncoder
label=LabelEncoder()
train["Embarked"]=label.fit_transform(train["Embarked"])
test["Embarked"]=label.fit_transform(test["Embarked"])

In [21]:
train["Embarked"].value_counts()

2    646
0    168
1     77
Name: Embarked, dtype: int64

#### Age

In [22]:
data = [train, test]
for dataset in data:
    dataset.loc[ dataset['Age'] <= 11, 'Age'] = 0
    dataset.loc[(dataset['Age'] > 11) & (dataset['Age'] <= 18), 'Age'] = 1
    dataset.loc[(dataset['Age'] > 18) & (dataset['Age'] <= 22), 'Age'] = 2
    dataset.loc[(dataset['Age'] > 22) & (dataset['Age'] <= 27), 'Age'] = 3
    dataset.loc[(dataset['Age'] > 27) & (dataset['Age'] <= 33), 'Age'] = 4
    dataset.loc[(dataset['Age'] > 33) & (dataset['Age'] <= 40), 'Age'] = 5
    dataset.loc[(dataset['Age'] > 40) & (dataset['Age'] <= 66), 'Age'] = 6
    dataset.loc[ dataset['Age'] > 66, 'Age'] = 6

In [23]:
train['Age'].value_counts()

4    303
6    148
3    106
5    103
2     92
1     71
0     68
Name: Age, dtype: int64

In [24]:
train= train.drop(['PassengerId'], axis=1)

In [25]:
train.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,relatives,not_alone,Title
0,0,3,1,2,1,0,7,2,1,0,1
1,1,1,0,5,1,0,71,0,1,0,3
2,1,3,0,3,0,0,7,2,0,1,2
3,1,1,0,5,1,0,53,2,1,0,3
4,0,3,1,5,0,0,8,2,0,1,1

In [26]:
test.head()

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,relatives,not_alone,Title
0,892,3,1,5,0,0,7,1,0,1,1
1,893,3,0,6,1,0,7,2,1,0,3
2,894,2,1,6,0,0,9,1,0,1,1
3,895,3,1,3,0,0,8,2,0,1,1
4,896,3,0,2,1,1,12,2,2,0,3

## Building Machine Learning Models

In [27]:
X_train = train.drop("Survived", axis=1)
y_train = train["Survived"]
X_test  = test.drop("PassengerId", axis=1).copy()

In [28]:
X_train.shape

(891, 10)

### 1:Random forest

In [29]:
random_forest = RandomForestClassifier(n_estimators=100)
random_forest.fit(X_train, y_train)

Y_prediction = random_forest.predict(X_test)

random_forest.score(X_train, y_train)
acc_random_forest = round(random_forest.score(X_train, y_train) * 100, 2)

### 2:Logistic Regression

In [32]:
Logistic_Regression = LogisticRegression() 
Logistic_Regression.fit(X_train, y_train)  
Y_pred = Logistic_Regression.predict(X_test)  
acc_Logistic_Regression = round(Logistic_Regression.score(X_train, y_train) * 100, 2)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

# SVM

In [33]:
NB = GaussianNB() 
NB.fit(X_train, y_train)  
Y_pred = NB.predict(X_test)  
acc_NB = round(NB.score(X_train, y_train) * 100, 2)

### Which is the best Model ?

In [38]:
results = pd.DataFrame({'Model': ['Random Forest','LogisticRegression','NaiveBayes'],
                        'Score': [ acc_random_forest,acc_Logistic_Regression,acc_NB]})
result_df = results.sort_values(by='Score', ascending=False)
result_df = result_df.set_index('Score')
result_df

                    Model
Score
93.49       Random Forest
81.93  LogisticRegression
80.47          NaiveBayes

One common issue with all machine learning algorithms is Overfitting. For Decision
Tree, it means growing too large tree (with strong bias, small variation) so it loses
its ability to generalize the data and to predict the output. In order to deal with
overfitting, we can grow several decision trees(Random forest) and take the average of their
predictions. 

In Random Forest, we grow N decision trees based on randomly selected subset of
the data and randomly selected M fields, where 𝑀 = sqrt(𝑡𝑜𝑡𝑎𝑙  𝑜𝑓 𝑓𝑖𝑒𝑙𝑑)